DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-app-name.onrender.com
DATABASE_URL=postgresql://postgres.xxxxx:yourpassword@aws-0-region.pooler.supabase.com:5432/postgres
CSRF_TRUSTED_ORIGINS=https://your-app-name.onrender.com